@use "../../styles/foundation/" as *;

/* =======================================
 * ふもと旅館 TOP パララックスビジュアル スタイル
 * URL: /src/components/top/TopParallaxVisual.module.scss
 * Referenced in: /src/components/top/TopParallaxVisual.tsx
 * Created: 2026-07-01
 * Last updated: 2026-07-01
 * ======================================= */

.containerTopParallaxVisual {
    overflow: hidden;
    .itemImage {
        width: 100%;
        aspect-ratio: 144/55;
        overflow: hidden;
        img {
            display: block;
            aspect-ratio: 144/55;
            width: 100%;
            object-fit: cover;
            object-position: center 80%;
            scale: 1.1;
        }
    }
}
