@use "../../styles/foundation/" as *;

/* =======================================
 * ふもと旅館 Header スタイル
 * URL: /src/components/common/Header.module.scss
 * Referenced in: /src/components/common/Header.tsx
 * Created: 2026-06-09
 * Last updated: 2026-06-30
 * ======================================= */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7rem 2vw 0;
    article {
        display: flex;
        justify-content: space-between;
        .itemLogo {
            width: 255px;
        }
        nav {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 0 min(3vw, 3.4rem);
            width: 100%;
            a {
                display: block;
                line-height: 0;
                svg {
                    fill: $main-gray;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .linkTop {
                width: 1.4rem;
                aspect-ratio: 14/47;
            }
            .linkHistory {
                width: 1.7rem;
                aspect-ratio: 17/150;
            }
            .linkOnsen {
                width: 1.7rem;
                aspect-ratio: 17/31;
            }
            .linkHigaeri {
                width: 1.6rem;
                aspect-ratio: 16/82;
            }
            .linkRoom {
                width: 1.7rem;
                aspect-ratio: 17/32;
            }
            .linkFood {
                width: 1.7rem;
                aspect-ratio: 17/47;
            }
            .linkSpend {
                width: 1.6rem;
                aspect-ratio: 16/65;
            }
            .linkAccess {
                width: 1.4rem;
                aspect-ratio: 14/62;
            }
            .linkReserve {
                width: 1.6rem;
                aspect-ratio: 16/31;
            }
        }
    }
    @include sp {
        padding: 4vw 6vw;
    }
    &[data-page-type="top"] {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: url(/images/top/top-header-bg.svg) no-repeat center
                center / contain;
            aspect-ratio: 1440/248;
            z-index: 1;
        }
    }
    &[data-page-type="sub"] {
    }

    .hamburgerButton {
        position: fixed;
        top: 5vw;
        right: 4vw;
        width: 8vw;
        aspect-ratio: 1;
        z-index: 90;
        display: none;
        @include sp {
            display: block;
        }
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 2px;
            background-color: $pure-white;
            transition: 0.3s ease-out;
            &:nth-of-type(1) {
                translate: -50% calc(-50% - 8px);
                clip-path: inset(0 0 0 20%);
            }
            &:nth-of-type(2) {
                translate: -50% -50%;
            }
            &:nth-of-type(3) {
                translate: -50% calc(-50% + 8px);
                clip-path: inset(0 0 0 40%);
            }
        }
        &.is-open {
            span {
                &:nth-of-type(1) {
                    translate: -50% -50%;
                    rotate: 45deg;
                    clip-path: inset(0);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    translate: -50% -50%;
                    rotate: -45deg;
                    clip-path: inset(0);
                }
            }
        }
    }
}
